@font-face {
  font-family: clab_personal_usebold;
  src: url('fonts/clab_personal_use-bold-webfont.woff') format('woff');
  src: url('fonts/clab_personal_use-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: clab_personal_useregular;
  src: url('fonts/clab_personal_use-regular-webfont.woff2') format('woff2'),
    url('fonts/clab_personal_use-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Our default values set as CSS variables */
:root {
  --yellow: hsla(53, 98%, 65%, 1);
  --trans-yellow: hsla(53, 98%, 65%, 0.1);
  --blue: hsla(209, 85%, 67%, 1);
  --blue-hover: hsla(209, 85%, 67%, 0.7);
  --black: hsla(36, 5%, 19%, 1);
  --trans-black: hsla(36, 5%, 19%, 0.75);
  --green: hsla(145, 71%, 47%, 1);
  --red: hsla(0, 100%, 41%, 1);
  --bg-light: hsla(60, 100%, 99%, 1);
  --font-head: 'clab_personal_usebold';
  --font-body: 'clab_personal_useregular';
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-head);
  display: grid;
  justify-content: center;
  background: center / cover no-repeat
    radial-gradient(var(--bg-light), var(--trans-yellow)) fixed;
  transition: background-color 1s ease-in;
  perspective: 1000;
  backface-visibility: hidden;
  height: 100vh;
}

/* Page structure */

.page-wrapper {
  min-width: 100%;
}

.wrapper {
  display: grid;
  /* justify-content: center;
  align-content: center;
  height: 100vh; */
}

nav {
  margin-bottom: 6em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.content h1 {
  margin: 0;
  border: none;
  display: flex;
}

.content h1 span {
  font-size: 3rem;
  font-family: var(--font-head);
  height: 2.5rem;
  color: var(--black);
  text-shadow: 4px 4px 5px var(--black);
  -webkit-text-stroke: 2px var(--black);
}

.content .head-miss span {
  font-size: 6.5rem;
  padding: 0 0.3rem;
  height: 6rem;
}

.content .head-lavonnes span {
  font-size: 3.5rem;
  padding: 0 0.05rem;
  height: 3.5rem;
}

.content .head-childcare span {
  font-family: 'Pangolin', cursive;
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--black);
  -webkit-text-stroke: 1px var(--black);
  text-shadow: 2px 2px 2px var(--black);
}

.content .head-lavonnes span,
.content .head-childcare span {
  transition: all 0.4s cubic-bezier(0.96, 0.09, 0.36, 1.88);
  perspective: 1000;
  backface-visibility: hidden;
}

.content .head-miss span {
  transition: all 0.4s cubic-bezier(0.96, 0.09, 0.36, 1.88);
  perspective: 1000;
  backface-visibility: hidden;
}

/* style 'Miss' letters */

.content .head-miss span:nth-child(1) {
  color: var(--blue);
  transform: rotate(-5deg);
}

.content .head-miss span:nth-child(2) {
  color: var(--red);
  transform: rotate(6deg);
}

.content .head-miss span:nth-child(3) {
  color: var(--yellow);
  transform: rotate(5deg);
}

.content .head-miss span:nth-child(4) {
  color: var(--green);
  transform: rotate(-7deg);
}

/* style 'Lavonne' letters */

.content .head-lavonnes span:nth-child(1) {
  font-size: 7rem;
  height: 4rem;
  line-height: 3rem;
  color: var(--yellow);
  transform: rotate(-10deg);
}

.content .head-lavonnes span:nth-child(2) {
  color: var(--red);
  transform: rotate(3deg);
}

.content .head-lavonnes span:nth-child(3) {
  color: var(--green);
  transform: rotate(-4deg);
}

.content .head-lavonnes span:nth-child(4) {
  color: var(--blue);
  transform: rotate(5deg);
}

.content .head-lavonnes span:nth-child(5) {
  color: var(--red);
  transform: rotate(-7deg);
}

.content .head-lavonnes span:nth-child(6) {
  color: var(--yellow);
  transform: rotate(8deg);
}

.content .head-lavonnes span:nth-child(7) {
  color: var(--green);
  transform: rotate(3deg);
}

.content .head-lavonnes span:nth-child(8) {
  color: var(--red);
  transform: rotate(-3deg);
  padding: 0;
}

.content .head-lavonnes span:nth-child(9) {
  color: var(--blue);
  transform: rotate(-7deg);
}

/* radio button styling */

fieldset {
  border: none;
  display: flex;
  margin: 1rem;
}

input {
  appearance: none;
}

input {
  border: 2px solid var(--black);
  border-radius: 24px;
  width: 40px;
  height: 24px;
  margin-right: 1rem;
  background: white;
  box-shadow: 1px 1px 1px var(--black);
  transition: all 0.4s ease-in;
  perspective: 1000;
  backface-visibility: hidden;
}

input:not(:checked) {
  cursor: pointer;
}

input[type='radio']::before {
  display: block;
  content: ' ';
  width: 18px;
  height: 18px;
  border-radius: 10px;
  font-size: 1.2em;
  transform: translate(2px, 1px) scale(1);
  transform-origin: center;
  transition: all 0.4s ease-in;
  perspective: 1000;
  backface-visibility: hidden;
}

.red-button input::before {
  background-color: var(--red);
}

.blue-button input::before {
  background-color: var(--blue);
}

.yellow-button input::before {
  background-color: var(--yellow);
}

input[type='radio']:checked::before {
  transform: translate(16px, 1px) scale(1);
  background-color: var(--black);
  opacity: 0.2;
  transition: all 0.4s ease-in;
  perspective: 1000;
  backface-visibility: hidden;
}

.yellow-button input:checked {
  background: var(--yellow);
  opacity: 0.2;
}

.blue-button input:checked {
  background: var(--blue);
  opacity: 0.2;
}

.red-button input:checked {
  background: var(--red);
  opacity: 0.2;
}

/* icons */

i {
  transition: all 5s ease-in;
  perspective: 1000;
  backface-visibility: hidden;
  opacity: 0;
  text-shadow: 2px 2px var(--black);
  overflow: hidden;
}

.book-icon {
  font-size: 5rem;
  animation: rotatebook 7s infinite alternate cubic-bezier(1, -2, 0.8, 1.1);
  position: absolute;
  color: var(--red);
  top: 20%;
  left: 15%;
  z-index: -1;
  transform: rotate(40deg);
}

.school-icon {
  font-size: 3.5rem;
  animation: rotateschool 10s infinite alternate cubic-bezier(0.7, -2, 0.8, 1.1);
  position: absolute;
  top: 80%;
  left: 60%;
  transform: rotate(-30deg);
  color: var(--blue);
  z-index: -1;
}

.child-icon {
  font-size: 4rem;
  animation: move 5s infinite alternate cubic-bezier(1, -2, 0.8, 1.1);
  position: absolute;
  top: 40%;
  left: 55%;
  transform: rotate(-30deg);
  color: var(--yellow);
  z-index: -1;
}

button {
  font-family: var(--font-body);
  font-size: 16px;
  position: relative;
  padding: 0.5em 2em;
  border-radius: 5px;
  margin-top: 2em;
  background: var(--blue);
  cursor: pointer;
  border: 2px var(--black) solid;
  transform: skew(10deg) rotate(2deg);
  transition: all 0.3s ease-in;
  perspective: 1000;
  backface-visibility: hidden;
  box-shadow: 3px 3px 5px var(--black);
}

button[type='submit'] {
  margin: 0 2em;
}

button:active {
  perspective: 1000;
  backface-visibility: hidden;
  top: 5px;
}

@keyframes rotatebook {
  from {
    transform: rotate(0deg);
    left: 10%;
  }
  to {
    transform: rotate(360deg);
    top: 20%;
  }
}

@keyframes rotateschool {
  from {
    transform: rotate(0deg);
    left: 40%;
  }
  to {
    transform: rotate(360deg);
    top: 60%;
  }
}

@keyframes move {
  from {
    left: 60%;
    top: 30%;
  }
  to {
    left: 50%;

    transform: scale(1.2);
  }
}
/* tablet portrait up */

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    /* height: 100vh; */
  }

  nav {
    margin-bottom: 10em;
  }

  .content h1 span {
    -webkit-text-stroke: 4px var(--black);
    text-shadow: 4px 4px 5px var(--black);
  }

  .content .head-miss span {
    font-size: 9rem;
    padding: 0 0.3rem;
    height: 8rem;
  }

  .content .head-lavonnes span {
    font-size: 5rem;
    padding: 0 0.2rem;
    height: 5rem;
  }

  .content .head-lavonnes span:nth-child(1) {
    font-size: 9rem;
    height: 5rem;
    line-height: 5rem;
    color: var(--yellow);
    transform: rotate(-10deg);
  }

  .content .head-childcare span {
    padding: 0 0.5rem;
    font-size: 3rem;
  }

  .content {
    margin-bottom: 10rem;
  }

  .color-button {
    left: 64%;
  }

  button:hover {
    transform: scale(1.05) rotate(10deg);
    background: var(--blue-hover);
  }
}

html,
body,
.page-wrapper {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-head);
  visibility: visible;
  opacity: 1;
  height: 100vh;
}
